@page
@model workday.Pages_Employees.EditModel

@{
    ViewData["Title"] = "Edit";
}

<div class="container">

<h1>Edytuj dane pracownika</h1>
<hr />
<div class="row">
    <div class="col-md-4">
        <form method="post">
            <div asp-validation-summary="ModelOnly" class="text-danger"></div>
            <input type="hidden" asp-for="Employee.ID" />
            <div class="form-group">
                <label class="control-label">Imię i nazwisko</label>
                <input type="text" asp-for="Employee.Name" class="form-control" readonly value="@Model.Employee.Name"/>
                <span asp-validation-for="Employee.Name" class="text-danger"></span>
            </div>
            <div class="form-group">
                <label class="control-label">Data urodzenia</label>
                <input asp-for="Employee.DateOfBirth" class="form-control" />
                <span asp-validation-for="Employee.DateOfBirth" class="text-danger"></span>
            </div>
            <div class="form-group">
                <label class="control-label">Stanowisko</label>
                <input asp-for="Employee.Position" class="form-control" />
                <span asp-validation-for="Employee.Position" class="text-danger"></span>
            </div>
            <div class="form-group">
                <label class="control-label">Wynagrodzenie</label>
                <input asp-for="Employee.Salary" class="form-control" />
                <span asp-validation-for="Employee.Salary" class="text-danger"></span>
            </div>
            <div class="form-group">
                <label class="control-label">Wynagrodzenie</label>
                <input asp-for="Employee.PersonalId" class="form-control" />
                <span asp-validation-for="Employee.PersonalId" class="text-danger"></span>
            </div>
            <div class="form-group">
                <input type="submit" value="Zapisz" class="btn btn-primary" />
            </div>
        </form>
    </div>
</div>

<div>
    <a asp-page="Index">Powrót do listy pracowników</a>
</div>
</div>
@section Scripts {
    @{await Html.RenderPartialAsync("_ValidationScriptsPartial");}
}
